body{
  display: flex;
  justify-content: center;
  height: 90vh;
}

#root{
  width: 50%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.firstDiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}

button{
  height: 50%;
  border-radius: 6px;
}